<h1>Colect</h1>
<%= link_to "Afficher la liste des projets", projets_path %>
<br/>
<%= link_to "Gérer les devices", devices_path %>
<p>---------------------------------------</p>
<%= link_to "logout", destroy_user_session_path, method: :delete %>